<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>


    <title>Document</title>
    <style>
        html,
        body,
        div,
        nav {
            margin: 0;
            padding: 0;
        }
    </style>
</head>

<body ng-app="myApp" ng-controller="myCtrl">
    <div class="container-fluid">
        <div class="row-sm">
            <nav class="nav navbar-inverse">
                <div class="navbar-header">
                    <a class="navbar-brand" href="">
                        E-Commerce Nav Demo
                    </a>
                </div>
                <ul class="nav navbar-nav">
                    <li class="dropdown" ng-repeat="myobj in jasondata.secondata.Header">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="">{{myobj.Header}}
                            <ul class="dropdown-menu">
                                <li>

                                </li>
                            </ul>
                        </a>
                    </li>
                </ul>
            </nav>



            <ul>
                <li ng-repeat="mydata in jasondata.actual_data">
                    {{mydata.key1}} - {{mydata.key2}} - {{mydata.key3}}
                    <ul>
                        <li ng-repeat="arrayobj in mydata.key4">
                            {{arrayobj}}

                        </li>
                        <ol>
                            <li ng-repeat="arrayobj2 in mydata.key5">
                                {{arrayobj2}}

                            </li>


                        </ol>

                    </ul>

                </li>
            </ul>



        </div>
    </div>


    <script src="../node_modules/angular/angular.min.js"></script>
    <script>
        var app = angular.module('myApp', [])
        app.controller('myCtrl', ['$scope', function($scope) {
            $scope.jasondata = {
                "dummy_data": "no need to display",
                "actual_data": [{
                    "key1": "value1",
                    "key2": "value2",
                    "key3": "value3",
                    "key4": ['array1', 'array2', 'array3'],
                    "key5": ['array4', 'array5', 'array6']
                }, {
                    "key1": "value1",
                    "key2": "value2",
                    "key3": "value3",
                    "key4": ['array1', 'array2', 'array3'],
                    "key5": ['array4', 'array5', 'array6']
                }, {
                    "key1": "value1",
                    "key2": "value2",
                    "key3": "value3",
                    "key4": ['array1', 'array2', 'array3'],
                    "key5": ['array4', 'array5', 'array6']
                }, {
                    "key1": "value1",
                    "key2": "value2",
                    "key3": "value3",
                    "key4": ['array1', 'array2', 'array3'],
                    "key5": ['array4', 'array5', 'array6']
                }, {
                    "key1": "value1",
                    "key2": "value2",
                    "key3": "value3",
                    "key4": ['array1', 'array2', 'array3'],
                    "key5": ['array4', 'array5', 'array6']
                }],
                "second_data": [{
                    "Header": "About Us",
                    "Menu": "['Home','FAQ's']",
                    "key1": "value1",
                    "key2": "value2",
                    "key3": "value3",
                    "key4": ['array1', 'array2', 'array3'],
                    "key5": ['array4', 'array5', 'array6']

                }, {
                    "Header": "Kids",
                    "Menu": "['Toys','Education']",
                    "key1": "value1",
                    "key2": "value2",
                    "key3": "value3",
                    "key4": ['array1', 'array2', 'array3'],
                    "key5": ['array4', 'array5', 'array6']
                }, {
                    "Header": "Home",
                    "Menu": "['Kitchen','Bed']",
                    "key1": "value1",
                    "key2": "value2",
                    "key3": "value3",
                    "key4": ['array1', 'array2', 'array3'],
                    "key5": ['array4', 'array5', 'array6']
                }, {
                    "Header": "Offices",
                    "Menu": "['Infrastructure','Interior']",
                    "key1": "value1",
                    "key2": "value2",
                    "key3": "value3",
                    "key4": ['array1', 'array2', 'array3'],
                    "key5": ['array4', 'array5', 'array6']
                }]
            }
        }])
    </script>


</body>

</html>